.navbar-div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgba(7, 7, 7, 0.973);
}

.logo {
  font-weight: bold;
  margin-left: 10px;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}
.logo a{
    color: white;
    text-decoration: none;
}
.nav_list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
li{
  list-style: none;
  margin-left: 15px;
}

.btn_search{
  font-size: 35px;
  position: absolute;
  cursor: pointer;
  margin-left: -45px;
  margin-top: 15px;
}

.search_input_nav{
    
}

.btn-upload {
  margin-right: 10px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(247, 244, 241);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

