.suggestion_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-wrap: wrap;
  height: auto;
  width: 80vw;
}

.suggested_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 60px;
  background-color: aqua;
  border-radius: 50%;
}
